.accordion {
    margin: 20px 0;
    max-width: 800px;
}

.accord-header {
    background: red;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.accord-header:hover {
    background-color: darkred;
    border-color: green;
}

.accord-header:disabled {
    background: blue;
    border-color: blue;
}

.accord-header.active {
    background-color: darkred;
}

.accord-header svg {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    transition: rotate .1s ease-in;
}

.accord-header.active svg {
    transform: rotate(0);
}

.accord-body {
    background-color: aquamarine;
}

img {
    max-width: 100%;
}

.carousel-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.carousel-item {
    /* background-color: red; */
    box-sizing: border-box;
    /* margin: 2rem; */
    padding-right: 2rem;
}

.carousel-item:last-of-type {
    padding-right: 0;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 80%;
    background-color: #fff;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
}


.modal-wrapper .modal-close {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    background: royalblue;
    color: #fff;
}

.modal-wrapper .modal-close:focus {
    outline: 1px solid red;
}

.dropdown {
    position: relative;
    width: 200px;
}

.dropdown-toggle {
    background-color: green;
    color: #fff;
    padding: 10px 16px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    display: none;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.dropdown-menu ul {
    list-style: none;
    width: 100%;
}


.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    display: block;
    animation: dropdownAnimation 0.1s ease-in-out;
}

@keyframes dropdownAnimation {
    0% {opacity: 0; transform: translateY(10px); display: none;}
    50% {opacity: 0.2; transform: translateY(10px); display: block;}
    100% {opacity: 1; transform: translateY(0); display: block;}
}
